/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

}


#myslider {
    width: 100%;
    height: 400px;
    animation: slide 10s infinite;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-bottom: 10px;
    color: green;
    width: 100%;

}

#logo :hover {

    order: 0;
    text-shadow: rgba(255, 255, 255, 0.3);
}

#logo {
    text-decoration: none;
    order: 0;
    margin-left: 40%;
    width: 80%;
    font-size: 1.3em;
    animation: logo 2s ease-out infinite;
    text-transform: uppercase;
    text-shadow: rgba(25, 255, 25, 0.3);
}

@keyframes logo {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

#menuList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.signup {
    background-image: url("images/signup.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height: 500px;
}

table {
    border: none;
    background-color: rgba(31, 28, 28, 0.5);
    color: rgba(255, 255, 255, 1);
}

.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: green;
}

.form-container {
    width: 60%;
}

.form-container form {
    right: 0;
    float: right;
}

#nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;



}

.container {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: safe;
}

.about {
    text-align: center;
    justify-content: center;
    text-shadow: white;
}

.card {

    border-radius: 2%;
    text-align: justify;

}

.card :hover {

    border-radius: 2%;
    color: white;
    text-align: justify;
    background-color: rgba(60, 60, 60, 0.3);
    transition: ease-in-out 0.10s;
}


.container .card {
    margin: 2%;
    background-color: grey;
    border-radius: 2%;
    color: white;
    text-align: justify;
    width: 45%;
}

#menuList {

    /* Add styles for the menu */
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#menuList li {
    transition: transform .2s;
    margin-right: 20px;
    /* Adjust the spacing between menu items */
}

#menuList li:last-child {
    margin-right: 0;
    /* Remove margin from the last menu item */
}

#menuList a {
    text-decoration: none;
    color: green;
    font-size: 1.4em;
    /* Text color for menu items */
}

#menuList li :hover {
    border: outset;
}

.task {
    display: flex;
    flex-direction: row;
    column-count: 3;
    word-wrap: normal;
    flex-wrap: wrap;
    justify-content: space-around;
}

.task-left {
    width: 29%;
    text-align: start;
}

.task-center {
    width: 29%;
    justify-content: center;
    text-align: center;
}

.task-center img {
    object-fit: cover;
    border-radius: 10%;
    max-width: 100%;
    height: 300px;
}

.task-right {
    width: 29%;
    text-align: end;
}

footer {
    display: flex;
    background-color: white;
    color: green;
    justify-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;

}

h1,
h2,
h3,
h4 {
    font-weight: bold;
}

.col-md-3 {
    text-align: center;
}

.col-md-9 {
    text-align: center;
}

.main-description {

    border-radius: 10px;
    background-color: white;
}

.signup {
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
}

.schedule {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: black;
    color: white;
}

button {
    color: yellowgreen;

}

.notice {
    padding: 30px;
}

.gallery img:hover {
    transform: scale(1.1);
}

.gallery {
    width: 100%;
    column-count: 1;
    column-gap: 0;
    row-gap: 0;
    background-color: rgba(255, 255, 255, 0.7);
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 400px;
    transition: transform .2s;
    /* Animation */
    margin: 0 auto;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
    .gallery {
        width: 100%;
        column-count: 2;
        column-gap: 0;
        row-gap: 0;
        background-color: rgba(255, 255, 255, 0.7);

        overflow: hidden;
    }

    img {
        display: block;
        width: 100%;
        object-fit: cover;
    }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
    .gallery {
        width: 100%;
        column-count: 2;
        column-gap: 0;
        row-gap: 0;
        background-color: rgba(255, 255, 255, 0.7);

        overflow: hidden;
    }

    img {
        display: block;
        width: 100%;
        object-fit: cover;

    }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
    .gallery {
        width: 100%;
        column-count: 3;
        column-gap: 0;
        row-gap: 0;
        background-color: rgba(255, 255, 255, 0.7);

        overflow: hidden;
    }

    img {
        display: block;
        width: 100%;
        object-fit: cover;
    }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {
    .gallery {
        width: 100%;
        column-count: 4;
        column-gap: 0;
        row-gap: 0px;
        background-color: #ffffffb3;

        overflow: hidden;
    }

    img {
        display: block;
        width: 320px;
        object-fit: cover;

    }
}

@keyframes slide {
    0% {
        background-image: url("images/home-page-1.jpg");
        transition: linear;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        object-fit: scale-down;
        height: 400px;
    }

    20% {
        background-image: url("images/home-page-2.jpg");
        transition: linear;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        object-fit: scale-down;
        height: 400px;
    }

    40% {
        background-image: url("images/home-page-3.jpg");
        transition: linear;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        object-fit: scale-down;
        height: 400px;
    }

    60% {
        background-image: url("images/home-page-2.jpg");
        transition: linear;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        object-fit: scale-down;
        height: 400px;

    }

    80% {
        background-image: url("images/home-page-1.jpg");
        transition: linear;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        object-fit: scale-down;
        height: 400px;
    }

    100% {
        background-image: url("images/home-page-3.jpg");
        transition: linear;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        object-fit: scale-down;
        height: 400px;
    }
}